body{
    font-family: Roboto, Arial, sans-serif;
    overflow: hidden;
}
#main_container{
    display: grid;
    grid-template: 40px 90% / 100%;

}
#content_container{
    display: flex;
}

#nav_bar{
    display: flex;
    flex-direction: column;
    width: 15%;
}
.nav_content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
}

#content_box{
    display: flex;
    flex-direction: column;
    overflow scroll;
}

.video_container{
    display: flex;
}

.video_box{
    display: flex;
    flex-direction: column;
    width: 210px;
    padding: 10px;
}

.video_detail{
    display: flex;
}